alias la='ls -la'
alias lag='la | grep'
alias c='clear'
alias ntul='sudo netstat -tulpen'
alias netg='ntul | grep'
alias svi='sudo vi'
alias service='sudo service'
alias conf='vi $HOME/.zshrc'
alias json='cat $1 | python -m json.tool'
